<div id="index-img">
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Welcome To PetPal</h1>
      <div class="row center">
        <h5 class="header col s12 white-text">A modern take on pet sitting </h5>
      </div>
      <div class="row center">
        <h6 class="col s4 white-text">We here at PetPal love pets of all kinds. We believe pets should have access to care at all times wether their owners are on vacation or have an emergency. On our site you can list your pet to be watched. You can also offer to watch other peoples pets. Owning your own pet is not a requirement of offering to watch other pets.</h6>
        <p class="col s4 white-text"></p>
        <h6 class="col s4 white-text">To get started select User Account from the menu at the top of the page to list your pet. You then can approve or deny someone to watch your pet. Or select Search Pets where you can search for a pet to care for and then send a request to the pet owner of the pet you'd like to offer your services to.</h6>
      </div>
      <br><br>


    </div>
  </div>
    <br><br> 
     </div>

  


<script src = "/js/index.js"></script>
<script src= "/js/members.js"></script>
<script src = "/js/requests.js"></script>
