<div id="index-img">
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Welcome To PetPal!</h1>
      <div class="row center">
        <h5 class="header col s12 white-text">A modern take on pet sitting </h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large blue lighten-2">Get Started</a>
      </div>
      <br><br>


    </div>
  </div>
    <br><br> 
     </div>

  


<script src = "/js/index.js"></script>
<script src= "/js/members.js"></script>
<script src = "/js/requests.js"></script>
