<div id="signuppage">
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="signupform">
        <h2>Sign Up Form</h2>
        <form class="signup">
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="Text" class="form-control" id="name-input" placeholder="">
          </div>
          <div class="form-group">
            <label for="Phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone-input" placeholder="">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn blue lighten-2">Sign Up</button>
        </form>
        <br />
        <p>Or log in <a href="/login">here</a></p>
      </div>
    </div>
  </div>
</div>
  <script src = "/js/signup.js"></script>