.list-group-item {
  line-height: 2.5;
}

/* search.handlebars */
.petimage {
  max-width: 20%;
  max-height: 30%;
}

#footer {
  position: fixed;
 
}

#signuppage {
  background-image: url("../images/adorable-animal-canine-1564506.jpg");
  height: 100vh;
  background-size: cover; 
  padding-top: 2px;
}


#signupform{
  
  background-color: rgba(252, 252, 252, 0.30);
  text-align: left;
  color: black;
  border-radius: 10px;
  margin-top: 57px;
}

.signup {
  text-decoration-color: white;
  margin: 40px;
}

#loginpage {
  background-image: url("../images/animal-black-and-white-daylight-844451.jpg");
  height: 100vh;
  background-size: cover;
  padding-top: 2px;
}

#loginform {
  background-color: rgba(252, 252, 252, 0.30);
  text-align: left;
  color: black;
  border-radius: 10px;
  margin-top: 57px;
}

footer{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: sticky;
}

#userpage{
  background-image: url("../images/kittensleeping.jpg");
  height: 100vh;
  background-size: cover; 
  padding-top: 2px;
}

#petInsert {
  background-color: rgba(252, 252, 252, 0.30);
  text-align: left;
  color: black;
  border-radius: 10px;
  margin-top: 57px;
}

#index-img{
  background-image: url("../images/adorable-animal-cat-730896\(new\).jpg");
  padding-bottom: 35%;
  background-repeat: no-repeat;
}

#searchpage {
  background-image: url("../images/puppyinteacup.jpg");

}

