.list-group-item {
  line-height: 2.5;
}

/* search.handlebars */
.petimage {
  max-width: 20%;
  max-height: 30%;
}

#footer {
  position: fixed;
 
}
footer{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#index-img{
  background-image: url("../images/adorable-animal-cat-730896\(new\).jpg");
  padding-bottom:100px;
}
