.list-group-item {
  line-height: 2.5;
}

/* search.handlebars */
.petimage {
  max-width: 20%;
  max-height: 30%;
}

#footer {
  position: fixed;
 
}

#signuppage {
  background-image: url("../images/animal-black-and-white-close-up-96424.jpg");
  height: 100vh;
  background-size: cover; 
  padding-top: 2px;
}



